.vcode {
	margin-top: 2px !important;
	font-size: 35px !important;
	margin-bottom: 2px !important;
	font-weight: bold;
	letter-spacing: 2px;
}

.bg-color {
	position: absolute;
	width: 100%;
	height : 100%
}

.s-lignt-green {
	background-image: url(../images/s_light_green.jpg)
}

.s-green {
	background-image: url(../images/s_green.jpg)
}

.s-red {
	background-image: url(../images/s_red.jpg)
}

.s-tomato {
	background-image: url(../images/s_tomato.jpg)
}

.s-orange {
	background-image: url(img/s_orange.jpg)
}

.s-orange2 {
	background-image: url(img/s_orange2.jpg)
}

.s-blue {
	background-image: url(../images/s_blue.jpg)
}

.s-blue2 {
	background-image: url(../images/s_blue2.jpg)
}

.w-purple {
	background-image: url(../images/p_w.jpg)
}

.w-purple2 {
	background-image: url(../images/p_w2.jpg)
}

.w-red {
	background-image: url(../images/r_w.jpg)
}

.w-red2 {
	background-image: url(../images/r_w2.jpg)
}

#app {
	position: absolute;
	z-index: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
}

* {
	webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.mint-layout-container {
	position: relative;
}

.pjhiwtwjo .OPjhiwxcyg {
	height: 5px !important;
	text-align: center !important;
}

.mint-layout-spacing {
	position: relative;
}

.sjakx3nec {
	height: 12px !important;
}

.pjhiwtwjo .OPjhiwxcyne1 {
	margin-top: 15px !important;
	font-size: 25px !important;
	margin-bottom: 15px !important;
	font-weight: bold;
}

.mint-text {
	position: relative;
	word-break: break-word;
}

.bh-color-gray {
	color: #1e2329 !important;
}

.mint-hr {
	position: relative;
	height: 1px;
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
}

.mint-layout-container-multiple {
	position: relative;
	width: 100%;
	box-sizing: border-box;
}

.mint-layout-container-multiple-item {
	position: relative;
	float: left;
	box-sizing: border-box;
}

.pjhiwtwjo .OPjhiwxcyne {
	font-size: 21px !important;
	text-align: left !important;
	margin-left: 40px !important;
	margin-bottom: 5px !important;
}

.mint-layout-container-multiple-item {
	position: relative;
	float: left;
	box-sizing: border-box;
}

.pjhiwtwjo .OPjhiwxcyne2 {
	font-size: 21px !important;
	text-align: left !important;
	margin-left: 10px !important;
	margin-bottom: 5px !important;
}

.mint-layout-container {
	position: relative;
}

.pjhiwtwjo .OPjhiwxcyg1 {
	height: 45px !important;
	text-align: center !important;
}

.mint-layout-spacing {
	position: relative;
}

.pjhiwtwjo .OPjhiwxcyne3 {
	font-size: 21px !important;
	margin-bottom: 10px !important;
}

.pjhiwtwjo {
	text-align: center !important;
}

.mint-layout-container-multiple-item {
	position: relative;
	float: left;
	box-sizing: border-box;
}

.mint-layout-container-multiple {
	position: relative;
	width: 100%;
	box-sizing: border-box;
}

.mint-layout-container-multiple-item {
	position: relative;
	float: left;
	box-sizing: border-box;
}

.mint-layout-container-multiple-item {
	position: relative;
	float: left;
	box-sizing: border-box;
}

.pjhiwtwjo .OPjhiwxcyne4 {
	font-size: 22px !important;
	text-align: left !important;
	margin-left: 10px !important;
	margin-top: 2px !important;
}

.mint-layout-container-multiple {
	position: relative;
	width: 100%;
	box-sizing: border-box;
}

.mint-layout-container-multiple-item {
	position: relative;
	float: left;
	box-sizing: border-box;
}

.mint-layout-container-multiple-item {
	position: relative;
	float: left;
	box-sizing: border-box;
}

.mint-layout-container-multiple-item {
	position: relative;
	float: left;
	box-sizing: border-box;
}

.mint-layout-container-multiple-item {
	position: relative;
	float: left;
	box-sizing: border-box;
}

.mint-text {
	position: relative;
	word-break: break-word;
}

.bh-color-gray {
	color: #1e2329 !important;
}