body{
  margin: 15px auto;
  font-family: Arial, "MS Trebuchet", sans-serif;
  width: 95%;    /*设置body块宽度为父容器的95%*/
  background: -webkit-gradient(linear,0 0,0 100%,
  	from(#FFFFCC),to(#FFFF33));
}

.page_header,.container{  /*设置页面头部和中间内容区的样式*/
  margin: auto 10px;
  border-bottom: 1px solid grey;
}
.page_header nav{  /*设置嵌套在id为page_header的元素中nav标签的样式*/
	float:right;   /*向右浮动*/
}
.page_header img{  /*设置页面头部的图片样式*/
  width: 150px;
  height: 150px;
  float: left; /*图片向左浮动*/
  margin-right: 10px;
}

.aside_detail{
  float: right;
  font-size: 20px;
  line-height: 40px;  /*设置文字行高*/
  margin-left: 5%;
  width: 15%;        
}
.aside_detail h3{
  margin-top: 0px;
}

.page_footer{ 
  text-align: center;  
}


.page_header > nav > ul{  /*设置id为page_header的元素的子元素nav的子元素ul的样式*/
  margin: 0; 
  padding: 0;  
}
.page_header > nav > ul > li{  /*设置id为page_header的元素的子元素nav的子元素ul的子元素li的样式*/
  margin: 0 20px 0 0;
  padding: 0;
  display: inline;
}
.page_header  a{  /*设置嵌套在id为page_header的元素中a标签的样式*/
  text-decoration:none;  /*无下划线*/
}
.page_header  a:hover{  /*设置嵌套在id为page_header的元素中a标签在鼠标停留时的样式*/
  color:red;
  background-color:#7FFFD4;
}

h1{
  color: #3366CC;
}
h1+h2{          /*设置紧跟在h1标签的h2标签的样式*/
  color: #CC00CC;
}
nav h3{  /*设置嵌套在nav标签中的h3标签的样式*/
  color: #CC00CC;
}