
body{
    margin: 0 auto;
    padding: 0;
}

/* 大容器 */
.container{
    width: 584px;
    border:1px solid #666;
    margin: 0 auto;
}

/* 容器的所有按钮 */
.container .key_all{
    margin: 0 auto;
    padding: 0;
    height: 420px;
    position: relative;
    background: #ccc;
}
/* 所有按键 */
.key_all .key{
    float: left;
    text-align: center;
    font-size: 16px;
    background-position: bottom left;
    background-repeat: repeat-x;
}
/* 白色按键 */
.key_all .whiteKey{
    width: 71px;
    height: 360px;
    color: #666666;
    background-color: #eeeeee;
    background-image: url("../img/key_back_white.png");
    border: 1px solid #999;
}
/* 黑色按键 */
.key_all .blackKey{
    width: 36px;
    height: 200px;
    border: 1px solid #666;
    background: #666 url("../img/key_back_black.png");
    position: absolute;
    top: 0;
}

/* 操作说明区 */
.instructions{
    font-size: 12px;
    line-height: 18px;
    padding-left: 20px;

}



