.main {
	user-select: none;
	text-align: center;
	margin-top: 120px;
	letter-spacing: 1px;
	font: 16px Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.main>img {
	width: 90px;
	height: 90px;
	border-radius: 100%;
	display: inline-block;
}

.head {
	font-size: 14px;
	font-weight: bold;
	margin: 15px 15px 23px;
}

a {
	color: #2290bf;
	margin: 0 15px;
	font-size: 13px;
	display: inline-block;
	-webkit-text-decoration: none;
	text-decoration: none;
}

.about {
	margin: 60px auto 70px;
}

.about p {
	margin-top: 15px;
}

p {
	font-size: 13px;
	margin-top: 10px;
	margin-bottom: 10px;
}

h1 {
	margin: 0 0 2px;
	font-size: 21px;
	font-weight: 400;
}

body {
	margin: 0;
	letter-spacing: 1px;
	background-color: #fff;
	font-family: Microsoft YaHei, 微软雅黑, Arial;
}

@media screen and (max-width:768px) {
	.hidden {
		display: none !important;
	}
}

.play {
	animation: rot 6s linear infinite;
}

@keyframes rot {
	form {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
