.main {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    margin-top: 120px;
    font: 16px Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    letter-spacing: 1px
}

.main>img {
    width: 90px;
    border-radius: 100%;
    display: inline-block;
    height: 90px
}

.name {
    font-size: 14px;
    margin: 15px 15px 23px
}

a {
    color: #2290bf;
    font-size: 13px;
    display: inline-block;
    margin: 0 15px;
    -webkit-text-decoration: none;
    text-decoration: none
}

.about {
    margin: 60px auto 70px
}

.about p {
    margin-top: 15px
}

@keyframes rot {
    form {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}

p {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px
}

h1 {
    font-size: 21px;
    font-weight: 400;
    margin: 0 0 2px
}

body {
    background-color: #fff;
    font-family: Microsoft YaHei, 微软雅黑, Arial;
    letter-spacing: 1px;
    margin: 0
}

@media screen and (max-width:768px) {
    .hidden {
        display: none!important
    }
}